body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 2rem;
}

main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  color: #333;
}

img {
  max-width: 80%;
}
